.light-mode {
  --bg-color: #e2e4f0;
  --fond-color: #6a6a6a;
  --chart-card-bg:  #fff;
  --user-name: #363845;
  --user-age: #2c2d35;
  --city-name: #6a6a6a;
  --disease-name: #6a6a6a;
  --loader-color:  #312f2f;
  --start-title: #363845;
  --start-description: #2c2d35;
  --checkbox-body: #2c2d35;
  --error-title:  #363845;
  --error-description: #6a6a6a;
  --text-count:  #363845;
  --now-help:  #6a6a6a;
  --search-bg:  #fff;
  --search-icon-color: #9395A5;
  --search-placeholder: #6a6a6a;
  --need-help: #363845;
  --need-help-desc: #6a6a6a;
  --goal-title: #6a6a6a;
  --goal-price: #363845;
  --progress-bg:  #e2e4f0;
  --collected-text: #6a6a6a;
  --collected-summa:  #363845;
  --header-center-text: #363845;
  --actual-nav-tabs: #fff;
  --tabs-color: #363845;
  --collected:  #363845;
  --collected-completed: #6a6a6a;
  --summa-span: #363845;
  --reports-card-bg: #fff;
  --reports-card-title:  #0d0d0d;
  --reports-card-desc: #6a6a6a;
  --bottom-sheet-bg: #fff;
  --bottom-sheet-title: #575965;
  --bottom-sheet-desc: #575965;
  --checkbox-region-title: #363845;
  --checkbox-region-subtitle: #6a6a6a;
  --bottom-nav-top: #d8dbf0;
  --border-top-color: #e2e4f0;
  --badge-back-color: #f6f6f6;
  --badge-color: #6a6a6a;
  --patient-name: #363845;
  --patient-city: #6a6a6a;
  --patient-name-span: #2c2d35;
  --bg-patient-card: #fff;
  --published-bg: #f6f6f6;
  --published-title: #6a6a6a;
  --published-date: #2c2d35;
  --diagnos-data-title: #6a6a6a;
  --diagnos-data-desc: #363845;
  --history-card-title: #363845;
  --history-bg-card: #fff;
  --history-text-color: #6a6a6a;
  --report-transction-title: #363845;
  --report-transaction-card: #fff;
  --report-transaction-date: #6a6a6a;
  --report-transaction-summ: #363845;
}

.dark-mode {
  --bg-color: #242429;
  --fond-color: #fff;
  --chart-card-bg:  #34353f;
  --user-name: #fff;
  --user-age: #fff;
  --city-name: #b3b7ce;
  --disease-name: #b3b7ce;
  --loader-color:  #fff;
  --start-title: #fff;
  --start-description: #b3b7ce;
  --checkbox-body: #fff;
  --error-title:  #fff;
  --error-description:  #b3b7ce;
  --text-count:  #fff;
  --now-help:  #b3b7ce;
  --search-bg: #34353f;
  --search-icon-color: #B3B7CE;
  --search-placeholder: #fff;
  --need-help: #fff;
  --need-help-desc: #b3b7ce;
  --goal-title:  #b3b7ce;
  --goal-price: #fff;
  --progress-bg:  #242429;
  --collected-text: #b3b7ce;
  --collected-summa: #fff;
  --header-center-text: #fff;
  --actual-nav-tabs: #34353f;
  --tabs-color: #fff;
  --collected: #fff;
  --collected-completed: #b3b7ce;
  --summa-span: #fff;
  --reports-card-bg: #34353f;
  --reports-card-title: #fff;
  --reports-card-desc: #b3b7ce;
  --bottom-sheet-bg: #242429;
  --bottom-sheet-title: #fff;
  --bottom-sheet-desc: #b3b7ce;
  --checkbox-region-title: #fff;
  --checkbox-region-subtitle: #b3b7ce;
  --bottom-nav-top: #4b4b59;
  --border-top-color: #4b4b59;
  --badge-back-color: #34353f;
  --badge-color: #b3b7ce;
  --patient-name: #fff;
  --patient-city: #b3b7ce;
  --patient-name-span: #fff;
  --bg-patient-card: #34353f;
  --published-bg: #3f4258;
  --published-title: #b3b7ce;
  --published-date: #fff;
  --diagnos-data-title: #fff;
  --diagnos-data-desc: #b3b7ce;
  --history-card-title: #fff;
  --history-bg-card: #34353f;
  --history-text-color: #b3b7ce;
  --report-transction-title: #fff;
  --report-transaction-card: #34353f;
  --report-transaction-date: #b3b7ce;
  --report-transaction-summ: #fff;
}
