.light-mode {
  --bg-color: rgb(226, 228, 240);
  --fond-color: #6a6a6a;
  --chart-card-bg:  #fff;
  --user-name: #363845;
  --user-age: #2c2d35;
  --city-name: #6a6a6a;
  --disease-name: #6a6a6a;
  --loader-color:  #312f2f;
  --text: #363845;
  --text2: #6A6A6A;
  --text3: #6A6A6A;
  --text4: #363845;
  --text5: #2C2D35;
  --bg1: #F6F6F6;
  --bg2: #E2E4F0;
  --bg3: #FFFFFF;
  --border: #F6F6F6;
  --border2: #D8DBF0;
}
.dark-mode {
  --bg-color: #242429;
  --fond-color: #fff;
  --chart-card-bg:  #34353f;
  --user-name: #fff;
  --user-age: #fff;
  --city-name: #b3b7ce;
  --disease-name: #b3b7ce;
  --loader-color:  #fff;
  --text: #fff;
  --text2: #B3B7CE;
  --text3: #fff;
  --text4: #B3B7CE;
  --text5: #B3B7CE;
  --bg1: #34353F;
  --bg2: #34353F;
  --bg3: #34353F;
  --border: #4B4B59;
  --border2: #4B4B59;
}
